.accordion {
	border-top: var(--accordion-border-width) solid var(--accordion-border-color);
	color: var(--accordion-content-color);
	padding: 0.5rem 0.75rem;
}

.accordion:last-of-type {
	border-bottom: var(--accordion-border-width) solid var(--accordion-border-color);
}

.accordion__summary {
	padding-top: var(--accordion-title-padding);
	padding-bottom: var(--accordion-title-padding);
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.accordion__icon {
	max-width: 1rem;
	fill: var(--accordion-open-close-color);
	transform: scaleY(1);
	transition: transform 0.2s;
}

.accordion[open] .accordion__icon {
	transform: scaleY(-1);
}
