.full-width {
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 100%;
}

.ccontain {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	max-width: var(--ccontain);
}

.hidden {
	display: none;
}

.gbc {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.gbc .has-text-color a {
	color: inherit;
}

.flexible-grid {
	display: grid;
	grid-template-columns: repeat(var(--number-columns-mobile), 1fr);
	column-gap: var(--sermon-archive-col-gap);
	row-gap: var(--sermon-archive-row-gap);
}

.flex-grid {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	column-gap: var(--sermon-archive-col-gap);
	row-gap: var(--sermon-archive-row-gap);
}

.flex-grid > * {
	flex-basis: calc((100% - (var(--number-columns-mobile) - 1) * var(--sermon-archive-col-gap)) / var(--number-columns-mobile));
	flex-shrink: 0;
}

.desktop-only {
	display: none;
}

.is-content-justification-center {
	justify-content: center;
}

.is-content-justification-right {
	justify-content: flex-end;
}

.is-content-justification-space-between {
	justify-content: space-between;
}

.block-padding-none {
	padding-top: 0;
	padding-bottom: 0;
}

.block-padding-small {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.block-padding-medium {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.block-padding-large {
	padding-top: 4rem;
	padding-bottom: 4rem;
}