.full-width {
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 100%;
}

.ccontain {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	max-width: var(--ccontain);
}

.flexible-grid {
	display: grid;
	grid-template-columns: repeat(var(--number-columns-mobile), 1fr);
	column-gap: var(--sermon-archive-col-gap);
	row-gap: var(--sermon-archive-row-gap);
}

.flex-grid {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	column-gap: var(--sermon-archive-col-gap);
	row-gap: var(--sermon-archive-row-gap);
}

.flex-grid > * {
	flex-basis: calc((100% - (var(--number-columns-mobile) - 1) * var(--sermon-archive-col-gap)) / var(--number-columns-mobile));
	flex-shrink: 0;
}

.desktop-only {
	display: none;
}