.footer {
	padding-top: var(--footer-padding);
	padding-bottom: var(--footer-padding);
	background: var(--footer-background);
	color: var(--footer-text);
}

.footer a {
	color: inherit;
}

.footer ul {
	list-style: none;
}

.footer__menu-wrapper--with-pattern {
	display: grid;
	grid-template-columns: var(--footer-pattern-width) 1fr;
	column-gap: 2rem;
}

.footer-menu {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.footer-menu--desktop {
	display: none;
}

.copyright {
	padding: 0.75rem 0;
	text-align: center;
	background: var(--copyright-background);
	color: var(--copyright-text);
}

.social-links {
	margin-bottom: var(--footer-padding);
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 3rem;
	font-size: 0;
}

.social-link {
	display: inline-block;
	height: 2rem;
	width: auto;
}

.social-link svg {
	height: 100%;
	fill: currentColor;
}