.form {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	align-items: center;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	width: 30rem;
	max-width: 100%;
}

.input-wrapper input {
	width: 100%;
}

.input-wrapper textarea {
	max-width: 100%;
	height: 8rem;
}

.check-wrapper {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

textarea,
input {
	border: 1px solid var(--input-border);
	border-radius: 3px;
	padding: 0.5rem;
	font-size: 1rem;
	background: var(--input-background);
	transition: all 0.3s;
}

textarea:hover,
input:hover {
	background: var(--input-background-hover);
}

textarea:focus-within,
textarea:focus-visible,
textarea:active,
input:focus-within,
input:focus-visible,
input:active {
	background: var(--input-background-active);
}

button,
input,
textarea {
	outline-offset: 0.25rem;
	outline-width: 2px;
}

label {
	color: var(--label-color);
	cursor: pointer;
}

input[type="checkbox"] {
	appearance: none;
	border: 1px solid var(--button-border);
	width: 1.2rem;
	height: 1.2rem;
	transition: all 0.3s;
}

input[type="checkbox"]:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
	border-color: var(--button-border-hover);
    background-color: var(--button-background-hover);
    color: var(--button-text-hover);
}