.header {
	background-color: var(--header-background);
	color: var(--header-text);
	z-index: 100;
	transition: 0.3s background-color;
}

body:not(.body-scrolled, .search-open) .header--transparent {
	background: transparent;
}

.header--transparent:not(.header--is-fixed) {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.header__watcher {
	background: var(--header-background);
	width: 100%; 
	height: var(--logo-height);
	z-index: -1;
}

.header__watcher.header__watcher--transparent {
	position: absolute;
	background-color: transparent;
}

.header--is-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.header a {
	color: var(--header-text);
}

.header a:hover {
	color: var(--header-text-hover);
}

.header svg {
	fill: currentColor;
}

.header__logo-link {
	display: block;
	font-size: 0;
}

.header__logo {
	padding: .5rem 0rem;
	max-height: var(--logo-height);
	height: var(--logo-height);
	transition: max-height .3s;
}

.body-scrolled .header__logo {
	max-height: var(--logo-height-scrolled);
}

.header__contents,
.main-menu {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.header__contents {
	gap: 4rem;
}

.main-menu {
	column-gap: 2rem;
	height: 100%;
	list-style-type: none;
}

.main-menu a {
	font-family: var(--header-text-font-family);
	text-transform: var(--header-text-transform);
	letter-spacing: var(--header-text-letter-spacing);
	font-size: var(--header-text-font-size);
	font-weight: var(--header-text-font-weight);
}

.header__main-menu--right {
	margin-left: auto;
}

.header__main-menu--left {
	margin-right: auto;
}

.header__mobile-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	right: -100%;
	width: 80vw;
	background: var(--submenu-background);
	color: black;
	z-index: 1000;
	transition: right .3s;
}

.header__mobile-wrapper.open {
	right: 0;
}

.header__mobile-wrapper a {
	color: var(--submenu-text-color);
}

.header__mobile-wrapper a:hover {
	color: var(--submenu-text-color-hover);
}

.header__close-menu {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 100%;
	width: 150vw;
	background: var(--black);
	opacity: 0.75;
	display: none;
}

.header__search-trigger {
	border: none;
	display: none;
	align-items: center;
	appearance: none;
	background: transparent;
	cursor: pointer;
}

.header__search-trigger-icon {
	height: 1.5rem;
	color: var(--header-text);
}

.header__mobile-wrapper.open .header__close-menu {
	display: block;
}

.header__mobile-menu .main-menu {
	padding-top: 3rem;
	flex-direction: column;
}

.main-menu > .main-menu__item {
	position: relative;
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.main-menu__item-label {
	width: 100%;
	display: inline-flex;
	align-items: center;
	column-gap: 0.25rem;
}

.main-menu__item-label a {
	width: 100%;
}

.main-menu__item .item-icon {
	transform: scaleY(1);
	transition: transform .2s 0.25s;
}

.main-menu__item:hover .item-icon {
	transform: scaleY(-1);
}

.main-menu__sub-menu {
	position: absolute;
	top: 100%;
	max-height: 0;
	overflow: hidden;
	background: var(--submenu-background);
	color: var(--submenu-text-color);
	list-style-type: none;
	box-shadow: 2px 1px 7px 1px rgba(0, 0, 0, 0.5);
	transition: max-height 0s, padding 0s, color 0.2s;
	transition-delay: 0.25s;
}

.main-menu__sub-menu.main-menu__sub-menu--middle {
	right: 50%;
	transform: translateX(50%);
}

.main-menu__sub-menu.main-menu__sub-menu--left {
	left: 0;
}

.main-menu__sub-menu.main-menu__sub-menu--right {
	right: 0;
}

.main-menu__sub-menu a:hover {
	color: var(--submenu-text-color-hover);
}

.main-menu__sub-menu a {
	display: inline-block;
	padding: 0.5rem 2rem;
	color: inherit;
}

.main-menu__item:active .main-menu__sub-menu,
.main-menu__item:focus .main-menu__sub-menu,
.main-menu__item:focus-within .main-menu__sub-menu,
.main-menu__item:hover .main-menu__sub-menu {
	padding: 0.5rem 0;
	max-height: 100vh;
}

.accordion-menu__item:not(.accordion-menu__item--parent) {
	padding: 1rem 0 1rem 1rem;
}

.accordion-menu__item .summary-select {
	border: 0;
}

.accordion-menu__sub-menu {
	padding-left: 1rem;
	list-style-type: none;
}