.image-wrapper,
.image {
	display: block;
	width: 100%;
}

.image-wrapper {
	position: relative;
	height: 0;
	overflow: hidden;
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	object-fit: cover;
	transform: scale(1.0);
	transition: transform 0.2s;
}

.image-trigger:hover .image {
	transform: scale(1.05);
}



.parallax {
	position: relative;
	overflow: hidden;
}

.parallax img {
	display: block;
	object-fit: cover;
}

.parallax--banner img {
	width: 100% !important;
}

.parallax img {
	transform: scale(1.4);
	transform-origin: center var(--parallax-position);
	transition: all .1s;
}