.sermon-archive {
	margin-top: var(--sermon-archive-margin);
	margin-bottom: var(--sermon-archive-margin);
	display: grid;
	grid-row-gap: var(--sermon-archive-row-gap);
	grid-column-gap: var(--sermon-archive-col-gap);
}

.sermon {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.sermon__content {
	margin: 3rem auto;
	max-width: var(--sermon-content-width);
}

.sermon__content-cards {
	margin: 1rem auto;
	display: flex;
	justify-content: center;
	gap: 2rem;
	max-width: var(--sermon-content-width);
}

.sermon__audio-content audio {
	width: 100%;
}

.sermon__download-wrapper {
	grid-column: span var(--sermon-content-item-width);
	text-align: center;
}

.sermon__download {
	border-radius: 100%;
	height: 5.5rem;
	width: 5.5rem;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	background: var(--sermon-download-background);
	color: var(--sermon-download-text);
	fill: var(--sermon-download-text);
	transition: all .2s;
}

.sermon__download:hover {
	background: var(--sermon-download-background-hover);
	color: var(--sermon-download-text-hover);
	fill: var(--sermon-download-text-hover);
}

.sermon__download-icon {
	width: 1.5rem;
}