.sermon-archive {
	margin-top: var(--sermon-archive-margin);
	margin-bottom: var(--sermon-archive-margin);
	display: grid;
	grid-row-gap: var(--sermon-archive-row-gap);
	grid-column-gap: var(--sermon-archive-col-gap);
}

.sermon {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.sermon__content {
	margin: 3rem auto;
	max-width: var(--sermon-content-width);
}

.sermon__content-cards {
	margin: auto;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(var(--sermon-content-item-width), 1fr);
	max-width: var(--sermon-content-width);
}

.sermon__audio-content {
	grid-column: span var(--sermon-content-item-width);
}

.sermon__audio-content audio {
	width: 100%;
}