* {
	font-family: var(--font-family-general);
	letter-spacing: var(--font-general-letter-spacing);
	line-height: var(--font-general-line-height);
}

body {
	font-size: var(--font-size-general);
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	font-family: var(--font-family-headings);
	text-transform: var(--font-header-transform);
	letter-spacing: var(--font-header-letter-spacing);
	line-height: var(--font-header-line-height);
}

.text-large {

}

.text-normal {

}

.text-small {
	font-size: 0.8rem;
}